<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://i.imgur.com/t4G4z45.png">
        <title>ML4E Backend Task</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="container">
            <div id="landing-header">
                <h4>This is a simple web app which takes a name and roll number from the user and adds it to a database.</h4>
                <h4>And lists all the entries in the database.</h4>
                <a href="/home" class="btn btn-lg btn-primary landing-button">Make an entry</a>
                <a href="/index" class="btn btn-lg btn-primary landing-button">See all entries</a>
            </div>
        </div>
    </body>
</html>
